Client/Service References/JobManagerReference/JobManagerService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8000/JobManagerService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/JobManager.Data.DTO" />
  <xs:import schemaLocation="http://localhost:8000/JobManagerService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="RunJob">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/JobManager.Data.DTO" minOccurs="0" name="job" nillable="true" type="q1:JobDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RunJobResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/JobManager.Data.DTO" minOccurs="0" name="RunJobResult" nillable="true" type="q2:WorkerDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Signal">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/JobManager.Data.DTO" minOccurs="0" name="workerDto" nillable="true" type="q3:WorkerDto" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/JobManager.Data.DTO" minOccurs="0" name="data" nillable="true" type="q4:TransferData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SignalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/JobManager.Data.DTO" minOccurs="0" name="SignalResult" nillable="true" type="q5:TransferData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterJob">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/JobManager.Data.DTO" minOccurs="0" name="job" nillable="true" type="q6:JobDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterJobResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="RegisterJobResult" type="q7:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/JobManager.Data.DTO" minOccurs="0" name="eventDto" nillable="true" type="q8:JobEventDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnEventSync">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/JobManager.Data.DTO" minOccurs="0" name="eventDto" nillable="true" type="q9:JobEventDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnEventSyncResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/JobManager.Data.DTO" minOccurs="0" name="OnEventSyncResult" nillable="true" type="q10:TransferData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WorkerWasStarted">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/JobManager.Data.DTO" minOccurs="0" name="worker" nillable="true" type="q11:WorkerDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>