Client/Service References/JobManagerReference/JobManagerService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/JobManager.Data.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/JobManager.Data.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8000/JobManagerService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:8000/JobManagerService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.IO" />
  <xs:complexType name="JobDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClassName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Data" nillable="true" type="tns:TransferData" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JobDto" nillable="true" type="tns:JobDto" />
  <xs:complexType name="TransferData">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.IO" minOccurs="0" name="SerializedData" nillable="true" type="q1:MemoryStream" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TransferData" nillable="true" type="tns:TransferData" />
  <xs:complexType name="WorkerDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="JobDto" nillable="true" type="tns:JobDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WorkerDto" nillable="true" type="tns:WorkerDto" />
  <xs:complexType name="JobEventDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsReturnResult" type="xs:boolean" />
      <xs:element minOccurs="0" name="TransferData" nillable="true" type="tns:TransferData" />
      <xs:element minOccurs="0" name="Worker" nillable="true" type="tns:WorkerDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JobEventDto" nillable="true" type="tns:JobEventDto" />
</xs:schema>