Client/Service References/JobManagerReference/JobManagerService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/JobManager.Data.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/JobManager.Data.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8000/JobManagerService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.IO" />
  <xs:complexType name="JobInputDataBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="JobWorkerClassName" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.IO" minOccurs="0" name="SerializedJobData" nillable="true" type="q1:MemoryStream" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JobInputDataBase" nillable="true" type="tns:JobInputDataBase" />
  <xs:complexType name="JobOutputDataBase">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System.IO" minOccurs="0" name="SerializedResult" nillable="true" type="q2:MemoryStream" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JobOutputDataBase" nillable="true" type="tns:JobOutputDataBase" />
  <xs:complexType name="JobEventDataBase">
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/System.IO" minOccurs="0" name="SerializedData" nillable="true" type="q3:MemoryStream" />
      <xs:element minOccurs="0" name="WorkerType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JobEventDataBase" nillable="true" type="tns:JobEventDataBase" />
</xs:schema>