Client/Service References/JobManagerReference/JobManagerService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8000/JobManagerService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/JobManager.Transfer.Data.DTO" />
  <xs:import schemaLocation="http://localhost:8000/JobManagerService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="RunJob">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/JobManager.Transfer.Data.DTO" minOccurs="0" name="jobDto" nillable="true" type="q1:JobDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RunJobResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/JobManager.Transfer.Data.DTO" minOccurs="0" name="RunJobResult" nillable="true" type="q2:WorkerDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Signal">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="workerId" type="q3:guid" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/JobManager.Transfer.Data.DTO" minOccurs="0" name="data" nillable="true" type="q4:TransferData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SignalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/JobManager.Transfer.Data.DTO" minOccurs="0" name="SignalResult" nillable="true" type="q5:TransferData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJob">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="jobId" type="q6:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJobResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/JobManager.Transfer.Data.DTO" minOccurs="0" name="GetJobResult" nillable="true" type="q7:JobDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ScheduleJob">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/JobManager.Transfer.Data.DTO" minOccurs="0" name="jobDto" nillable="true" type="q8:JobDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ScheduleJobResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="ScheduleJobResult" type="q9:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RescheduleJob">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/JobManager.Transfer.Data.DTO" minOccurs="0" name="jobDto" nillable="true" type="q10:JobDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RescheduleJobResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UnscheduleJob">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="jobId" type="q11:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnscheduleJobResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteJob">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="jobId" type="q12:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteJobResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OnEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/JobManager.Transfer.Data.DTO" minOccurs="0" name="eventDto" nillable="true" type="q13:JobEventDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnEventSync">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/JobManager.Transfer.Data.DTO" minOccurs="0" name="eventDto" nillable="true" type="q14:JobEventDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnEventSyncResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/JobManager.Transfer.Data.DTO" minOccurs="0" name="OnEventSyncResult" nillable="true" type="q15:TransferData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WorkerWasStarted">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/JobManager.Transfer.Data.DTO" minOccurs="0" name="worker" nillable="true" type="q16:WorkerDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>