Client/Service References/JobManagerReference/JobManagerService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8000/JobManagerService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/JobManager.Data.DTO" />
  <xs:element name="RunJob">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/JobManager.Data.DTO" minOccurs="0" name="jobInputData" nillable="true" type="q1:JobInputData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RunJobResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/JobManager.Data.DTO" minOccurs="0" name="RunJobResult" nillable="true" type="q2:TransferData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/JobManager.Data.DTO" minOccurs="0" name="eventData" nillable="true" type="q3:JobEventData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>