Client/Service References/JobManagerReference/JobManagerService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/JobManager.Data.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/JobManager.Data.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8000/JobManagerService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.IO" />
  <xs:complexType name="JobInputData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Data" nillable="true" type="tns:TransferData" />
      <xs:element minOccurs="0" name="JobWorkerClassName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JobInputData" nillable="true" type="tns:JobInputData" />
  <xs:complexType name="TransferData">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.IO" minOccurs="0" name="SerializedData" nillable="true" type="q1:MemoryStream" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TransferData" nillable="true" type="tns:TransferData" />
  <xs:complexType name="JobEventData">
    <xs:sequence>
      <xs:element minOccurs="0" name="TransferData" nillable="true" type="tns:TransferData" />
      <xs:element minOccurs="0" name="WorkerType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JobEventData" nillable="true" type="tns:JobEventData" />
</xs:schema>